.realtedmatchesDiv
{
    background-color: #1e293b;
    margin-top: 15px;
    border-radius: 15px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.realtedmatchesDiv img
{
    margin-top: 0px;
}
.matchImgaLogo
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainHeader
{
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.Lost
{
    color: #e31a1a;
}
.Won
{
    color: #18ed66;
}
.suggestionDIv
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.matchLogoForSuggestionsImg
{
    width: 30% !important;
    margin-top: 0px !important;
}
.realtedmatchesParentDiv
{
    display: flex;
    height: 18rem;
    width: 30%;
}